* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

section {
  min-height: 100vh;
  background: linear-gradient(90deg, #22c1c3, #fdbb2d);
  padding: 5rem;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

.tooltips {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 25px;
  min-height: 150px;
}

.tooltips div {
  width: calc(100% / 3.1);
  min-width: 300px;
  background-color: rgb(22 229 232 / 0.3);
  padding: 1rem;
  border-radius: 25px;
  color: #042c2d;
  text-align: center;
}

.next-row {
  margin-top: 25px;
  width: 100%;
  background-color: rgb(22 229 232 / 0.3);
  padding: 1rem;
  border-radius: 25px;
  text-align: center;
}
